{% extends "header.html" %} 

{% block content %}

<div>
<div><h1>Purchase Journal</h1>
</div>
<div class="card">
    
    <table>
        <thead>
            <tr>
                <th>Purchase ID</th>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
    {% for pur in purchases %}
    <tr>
        <td>{{ pur.purchase_id }}</td>
        <td>{{ pur.purchase_item_name }}</td>
        <td>{{ pur.purchase_quantity }}</td>
        <td>{{ pur.purchase_cost }}</td>
        <td>{{ pur.purchase_total_cost }}</td>
        <td>{{ pur.purchase_shipment_date }}</td>        
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>
</div>

{% endblock %}